<div *ngIf="listing">
  <a [routerLink]="['/listings']">Back</a>
  <hr>
  <h2 class="page-header pb-4">
    {{listing.title}}
    <small>{{listing.city}}</small>
  </h2>

  <div class="row p-2">
    <div class="col-md-4">
        
        <img style="width:250px" height="200px" class="thumbnail" src="{{imageUrl}}">
    </div>
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item">
          <b class="color">Owner:</b> {{listing.owner}}
        </li>
        <li class="list-group-item">
            <b class="color">Bedrooms:</b> {{listing.bedrooms}}
        </li>
        <li class="list-group-item">
            <b class="color">Type: </b>  {{listing.type}}
        </li>
        <li class="list-group-item">
            <b class="color">Price: </b> {{listing.price}}
        </li>
      </ul>
    </div>

    
  </div>
  <hr>
  <div class="row p-4">
      <a [routerLink]="['/edit-listing/'+listing.$key]" class="btn btn-primary mr-2">Edit</a>
      <a (click)="onDeleteClick()" class="btn btn-danger ">Delete</a>
  </div>
</div>
