<nav class="header sticky-top ">
  <div class="container nav-head">
    <div class="wrap-left">
      <a class="py-3 box" href="#">
        <img src="../../../favicon.ico" alt="ang-icon">
      </a>
      <a class="py-3  box" [routerLink]="['/']">Home</a>
      <a class="py-3 box" [routerLink]="['/listings']">Lists</a>
      <a class="py-3  box" [routerLink]="['/add-listing']">Add new</a>
    </div>
    <div class="wrap-right">
     
      <a class="py-3 box2" href="#"></a>
      <a class="py-3 box" href="#">Login</a>
    </div>
   
   
  </div>
  

</nav>